@media only screen and (max-width : 900px){
    .container{
        padding-top: 20px;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        height: 60px;
    }
    .grow-list{
        padding-left: 32px;
    }
    nav img{
        width: 100px;
    }
    ul li {
        /* border: 2px solid black; */
        text-decoration: none;
        list-style: none;
        padding: 0 2px;
        margin: 0 2px;
        cursor: pointer;
        font-size: 13px;
    }
    .button{
        padding-left: 8rem;
    }

    .hero-section{
        flex-direction: column;
        margin-top: 10px;
    }
    .left-box h1{
        font-size:32px ;
        line-height: 34px;
        padding-left: 70px;
        padding-top: 40px;
    }
    .left-box p{
        font-size: 10px;
        margin-top: 14px;
        line-height: 13px;
        padding-left: 60px;
    }
    .right-box img{
        width: 100vw;
        padding-left: 190px;
        padding-bottom: 125px;

    }
}